body{
    background-color: #171717;
    font-family: 'Handlee', cursive;
  }
  .tarjeta {
  background-color: whitesmoke;
  width: 500px;
  height: 305px;
  margin: auto; /*centrar verticalmente*/
  position: absolute;
  top: 50%; /*centrar horizontalmente*/
  left: 50%; /*centrar horizontalmente*/
  transform: translate(-50%, -50%); /*centrar horizontalmente*/
  padding: 15px;
  }
  .cabecera {
  /* background-color: brown; */
  overflow: hidden; /*toma el bloque completo e impide que objetos de abajo suban*/
  }
  .cuerpo {
  /* background-color: orange; */
  overflow: hidden;
  }
  .titulo h1 {
  /* background-color: green; */
  font-size: 35px;
  margin: 0px;
  float: left;
  width: 50%;
  }
  .imagen img {
  /* background-color: red; */
  margin: 0px;
  max-width: 60px;
  float: right;
  }
  .informacion {
  /* background-color: blue; */
  float: right;
  width: 50%;
  }
  .informacion input {
  font-size: 18px;
  font-family: 'Handlee',cursive;
  border: none;
  border-bottom: 1px solid gray;
  width: 240px;
  margin-bottom: 10px;
  padding: 5px;
  
  }
  .detalle {
  /* background-color: yellow; */
  font-size: 18px;
  float: left;
  width: 50%;
  }
  .pie {
  /* background-color: violet; */
  text-align: center;
  padding: 10px;
  }
  
  .pie input {
    border: none;
    background-color: rgb(197, 195, 195);
    font-size: 18px;
    font-family: 'Handlee',cursive;
  }
  
  
  
  
    
  